<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
      <meta name="viewport" content="width=device-width" />
      <meta name="description" content="" />
      <meta name="keywords" content="" />
      <meta name="author" content="" />

      <title>Oilfield - 404 Page</title>

      <link rel="stylesheet" href="css/404.css">

      <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png">
      <link rel="icon" type="image/png" sizes="96x96" href="img/favicon.png">
  </head>

  <body>
    <div class="main">
      <h1>404</h1>
      <p>It looks like you're lost...<br>That's a trouble?</p>
      <a href="/" type="button">Go back</button>
    </div>
  </body>
</html>