<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <title>Oilfield - BLogs</title>

    <!-- Core Styles -->
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="stylesheet" href="vendors/bootstrap4-toggle/bootstrap4-toggle.min.css">
    <link rel="stylesheet" href="css/app.css">

    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon.png">
</head>

<body class="theme-dark">
    <div class="grid-wrapper sidebar-bg bg1">
        <!-- BOF HEADER -->
        <div class="header">
            <div class="header-bar">
                <div class="brand">
                    <a href="/dashboard" class="logo"><span class="text-carolina">OIL </span>FIELD</a>
                    <a href="/dashboard" class="logo-sm text-carolina" style="display: none;">OIL</a>
                </div>
                <div class="btn-toggle">
                    <!-- <a href="#" class="toggle-sidebar-btn"><i class="ti-arrow-circle-left"></i></a> -->
                    <a href="#" class="slide-sidebar-btn" style="display: none;"><i class="ti-menu"></i></a>
                </div>
                <div class="navigation d-flex">

                    <!-- BOF Header Search -->
                    <form class="navbar-search" role="search" method="post" action="#">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="ti-search"></i></div>
                            </div>
                            <input type="text" placeholder="Search for keywords" class="form-control" name="top-search"
                                id="top-search">
                        </div>
                    </form>
                    <!-- EOF Header Search -->

                    <!-- BOF Header Nav -->
                    <div class="navbar-menu d-flex">
                        <div class="menu-item">
                            <a href="#" class="btn" data-toggle="dropdown">
                                <i class="ti-bell"></i>
                                <span class="badge badge-pill badge-danger">3</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right dropdown-alert">
                                <li class="dropdown-header text-center"><a href="#"><i class="ti-comment-alt"></i> View
                                        All Alerts <i class="ti-angle-right"></i></a></li>
                                <li><a href="#"><i class="fa fa-user"></i> New user registered <span>Just now</span></a>
                                </li>
                                <li><a href="#"><i class="fa fa-calendar-plus-o"></i> New event created <span>5 min
                                            ago</span></a></li>
                                <li><a href="#"><i class="fa fa-area-chart"></i> Report ready to download <span>1 day
                                            ago</span></a></li>
                                <li><a href="#"><i class="fa fa-bank"></i> Bill payment reminder <span>1 day
                                            ago</span></a></li>
                                <li><a href="#"><i class="fa fa-clock-o"></i> Staff meeting <span>3 days ago</span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="menu-item">
                            <a href="#" class="btn" data-toggle="dropdown">
                                <i class="ti-email"></i>
                                <span class="badge badge-pill badge-success">7</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right dropdown-message">
                                <li class="dropdown-header text-center"><a href="#"><i class="ti-comments"></i> View All
                                        Messages <i class="ti-angle-right"></i></a></li>
                                <li>
                                    <img src="img/profile/profile-04.jpg">
                                    <div class="message-row">
                                        <small>24h ago</small>
                                        <a href="#"><span class="message-user">Pear Appleton</span><br>
                                            Staff meeting on Tuesday at 4PM, remember to set date</a>
                                    </div>
                                </li>
                                <li>
                                    <img src="img/profile/profile-07.jpg">
                                    <div class="message-row">
                                        <small>2h ago</small>
                                        <a href="#"><span class="message-user">siQuang Humbleman</span><br>
                                            RE: Remember to generate PNL for October</a>
                                    </div>
                                </li>
                                <li>
                                    <img src="img/profile/profile-06.jpg">
                                    <div class="message-row">
                                        <small>3d ago</small>
                                        <a href="#"><span class="message-user">Lemony Tang</span><br>
                                            Appointment with lawyer, better call Saul!</a>
                                    </div>
                                </li>
                                <li>
                                    <img src="img/profile/profile-07.jpg">
                                    <div class="message-row">
                                        <small>4d ago</small>
                                        <a href="#"><span class="message-user">siQuang Humbleman</span><br>
                                            Theme designed by siQuang for siQthemes</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="align-items-center btn d-flex justify-content-center menu-item">
                            <a href="/logout" class="icon-logout"><i class="ti-shift-right-alt"></i></a>
                        </div>
                        <div class="menu-item">
                            <a href="#" class="btn right-sidebar-toggle"><i class="ti-user"></i></a>
                        </div>
                    </div>
                    <!-- EOF Header Nav -->

                </div>
            </div>
        </div>
        <!-- EOF HEADER -->

        <!-- BOF ASIDE-LEFT -->
        <div id="sidebar" class="sidebar">
					<div class="sidebar-content">
						<div class="sidebar-menu">
							<ul>
									<li>
										<a href="/dashboard">
											<i class="ti-dashboard"></i>
											<span class="menu-text">Dashboard</span>
										</a>
									</li>
									<li class="active">
										<a href="/blogs">
											<i class="ti-folder" style="font-size: 1.2em;"></i>
											<span class="menu-text">Blogs</span>
										</a>
									</li>
									<li>
										<a href="/customers">
											<i class="ti-user" style="font-size: 1.2em;"></i>
											<span class="menu-text">Customers</span>
										</a>
									</li>
							</ul>
						</div>
					</div>
        </div>
        <!-- EOF ASIDE-LEFT -->

        <!-- BOF MAIN -->
        <div class="main">

            <!-- BOF Breadcrumb -->
            <div class="row">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a><i class="ti-folder"></i> Blogs</a></li>
                    </ol>
                </div>
            </div>
            <!-- EOF Breadcrumb -->

            <div class="row">
              <div class="col-lg-12">
                  <div class="card mb-3">
                      <div class="card-body">
                          <div class="table-responsive">
                              <table class="table table-striped table-bordered table-hover" id="dt-event">
                                  <thead class="thead-light">
                                      <tr>
                                          <th>Name</th>
                                          <th>Content</th>
                                          <th>Date</th>
                                          <th>Action</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>Tiger Nixon</td>
                                          <td>System Architect</td>
                                          <td>6.10.2021</td>
                                          <td>
                                            <input type="checkbox" checked data-toggle="toggle" data-size="xs" data-onstyle="outline-primary"
                                            data-offstyle="outline-secondary">
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>Garrett Winters</td>
                                          <td>Accountant</td>
                                          <td>6.10.2021</td>
                                          <td>
                                            <input type="checkbox" checked data-toggle="toggle" data-size="xs" data-onstyle="outline-primary"
                                            data-offstyle="outline-secondary">
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <!-- EOF MAIN -->

        <!-- BOF FOOTER -->
        <div class="footer">
            <p class="text-center">Copyright © 2021 Oilfield by M.J</a>. All rights reserved.</p>
        </div>
        
        <!-- Preloader -->
        <div id="preloader"></div>

        <!-- EOF FOOTER -->
        <div id="overlay"></div>
    </div>

    <script src="scripts/main.js"></script>
    <script src="vendors/bootstrap4-toggle/bootstrap4-toggle.min.js"></script>
</body>

</html>